<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StoreManager.DbSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="StoreManager.SqlSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StoreManager.SqlSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StoreManager.DbSettings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source = (local);Initial Catalog = StoreDatabase;Integrated Security = True;Persist Security Info = False;Connection Timeout = 45;</value>
            </setting>
        </StoreManager.DbSettings>
        <StoreManager.SqlSettings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source = (local);Initial Catalog = StoreDatabase;Integrated Security = True;Persist Security Info = False;Connection Timeout = 45;</value>
            </setting>
        </StoreManager.SqlSettings>
    </userSettings>
    <applicationSettings>
        <StoreManager.SqlSettings>
            <setting name="ProductsInsert" serializeAs="String">
                <value>INSERT INTO [Products] ([ProductID], [ProductName], [CategoryID], [ProductCount], [ProductPrice], [Description]) VALUES (@ProductID, @ProductName, @CategoryID, @ProductCount, @ProductPrice, @Description);</value>
            </setting>
            <setting name="ProductsUpdate" serializeAs="String">
                <value>UPDATE [Products] SET [ProductID] = @ProductID, [ProductName] = @ProductName, [CategoryID] = @CategoryID, [ProductCount] = @ProductCount, [ProductPrice] = @ProductPrice, [Description] = @Description WHERE {0};</value>
            </setting>
            <setting name="ProductsDelete" serializeAs="String">
                <value>DELETE FROM [Products] WHERE {0};</value>
            </setting>
            <setting name="ProductsSelect" serializeAs="String">
                <value>SELECT {0} FROM [Products] WHERE {1};</value>
            </setting>
            <setting name="SuppliersInsert" serializeAs="String">
                <value>INSERT INTO [Suppliers] ([SupplierID], [Password], [CompanyName], [ContactName], [Address], [City], [Region], [PostalCode], [Country], [Phone], [Fax], [State], [Description]) VALUES (@SupplierID, @Password, @CompanyName, @ContactName, @Address, @City, @Region, @PostalCode, @Country, @Phone, @Fax, @State, @Description);</value>
            </setting>
            <setting name="SuppliersUpdate" serializeAs="String">
                <value>UPDATE [Suppliers] SET [SupplierID] = @SupplierID, [Password] = @Password, [CompanyName] = @CompanyName, [ContactName] = @ContactName, [Address] = @Address, [City] = @City, [Region] = @Region, [PostalCode] = @PostalCode, [Country] = @Country, [Phone] = @Phone, [Fax] = @Fax, [State] = @State, [Description] = @Description WHERE {0};</value>
            </setting>
            <setting name="SuppliersDelete" serializeAs="String">
                <value>DELETE FROM [Suppliers] WHERE {0};</value>
            </setting>
            <setting name="CustomersInsert" serializeAs="String">
                <value>INSERT INTO [Customers] ([CustomerID], [CompanyName], [ContactName], [Address], [City], [Region], [PostalCode], [Country], [Phone], [Fax], [Description]) VALUES (@CustomerID, @CompanyName, @ContactName, @Address, @City, @Region, @PostalCode, @Country, @Phone, @Fax, @Description);</value>
            </setting>
            <setting name="CustomersUpdate" serializeAs="String">
                <value>UPDATE [Customers] SET [CustomerID] = @CustomerID, [CompanyName] = @CompanyName, [ContactName] = @ContactName, [Address] = @Address, [City] = @City, [Region] = @Region, [PostalCode] = @PostalCode, [Country] = @Country, [Phone] = @Phone, [Fax] = @Fax, [Description] = @Description WHERE {0};</value>
            </setting>
            <setting name="CustomersDelete" serializeAs="String">
                <value>DELETE FROM [Customers] WHERE {0};</value>
            </setting>
            <setting name="CustomersSelect" serializeAs="String">
                <value>SELECT {0} FROM [Customers] WHERE {1};</value>
            </setting>
            <setting name="SoldProductsInsert" serializeAs="String">
                <value>INSERT INTO [SoldProducts] ([ID], [ProductID], [SupplierID], [SoldProductsCount], [Description], [CustomerID]) VALUES (@ID, @ProductID, @SupplierID, @SoldProductsCount, @Description, @CustomerID);</value>
            </setting>
            <setting name="SoldProductsUpdate" serializeAs="String">
                <value>UPDATE [SoldProducts] SET [ID] = @ID, [ProductID] = @ProductID, [SupplierID] = @SupplierID, [SoldProductsCount] = @SoldProductsCount, [Description] = @Description, [CustomerID] = @CustomerID WHERE {0};</value>
            </setting>
            <setting name="SoldProductsDelete" serializeAs="String">
                <value>DELETE FROM [SoldProducts] WHERE {0};</value>
            </setting>
            <setting name="SoldProductsSelect" serializeAs="String">
                <value>SELECT {0} FROM [SoldProducts] WHERE {1};</value>
            </setting>
            <setting name="SuppliersSelect" serializeAs="String">
                <value>SELECT {0} FROM [Suppliers] WHERE {1};</value>
            </setting>
            <setting name="CategoriesInsert" serializeAs="String">
                <value>INSERT INTO [Categories] ([CategoryID], [CategoryName], [Picture], [Description]) VALUES (@CategoryID, @CategoryName, @Picture, @Description);</value>
            </setting>
            <setting name="CategoriesUpdate" serializeAs="String">
                <value>UPDATE [Categories] SET [CategoryID] = @CategoryID, [CategoryName] = @CategoryName, [Picture] = @Picture, [Description] = @Description WHERE {0};</value>
            </setting>
            <setting name="CategoriesDelete" serializeAs="String">
                <value>DELETE FROM [Categories] WHERE {0};</value>
            </setting>
            <setting name="CategoriesSelect" serializeAs="String">
                <value>SELECT {0} FROM [Categories] WHERE {1};</value>
            </setting>
        </StoreManager.SqlSettings>
    </applicationSettings>
</configuration>